<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>spring_cloud1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>469</integer>
			<key>height</key>
			<integer>232</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>239</integer>
		</dict>
		<key>spring_cloud2.png</key>
		<dict>
			<key>x</key>
			<integer>471</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>370</integer>
			<key>height</key>
			<integer>215</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>379</integer>
			<key>originalHeight</key>
			<integer>227</integer>
		</dict>
		<key>spring_cloud3.png</key>
		<dict>
			<key>x</key>
			<integer>557</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>149</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>339</integer>
			<key>originalHeight</key>
			<integer>154</integer>
		</dict>
		<key>spring_road_mid2.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>153</integer>
			<key>height</key>
			<integer>182</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>153</integer>
			<key>originalHeight</key>
			<integer>182</integer>
		</dict>
		<key>spring_tree1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>spring_tree2.png</key>
		<dict>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>163</integer>
		</dict>
	</dict>
</dict>
</plist>