<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>witch_big.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>360</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>witch_big_light.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>360</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>witch_light.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>358</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>360</integer>
		</dict>
		<key>witch_small.png</key>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>witch_small_light.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>